{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'kola/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'kola/css/custom.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'kola-main' %}">Strona główna</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kola-profile' %}">Konto</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kola-logout' %}">Wyloguj się</a>
                        </li> 
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kola-login' %}">Logowanie</a>
                        </li>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a id="clock" class="nav-link disabled" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container my-5">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'kola/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'kola/js/clock.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>