{% extends "home/layout.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}

    <div class="mb-5"><h1>Aktualności</h1></div>

    {% for object in object_list %}

        <article>
            <div class="text-muted text-uppercase">{{ object.created }}</div>
            <div class="mb-2"><a class="title-color title-color-hover h2 text-decoration-none" href="{% url 'zsht-article' object.id %}">{{ object.title }}</a></div>
            <div>{{ object.description|safe|truncatewords:"100" }}</div>
            <div class="text-muted float-end">autor: {{ object.author }}</div>
            <br><hr>
        </article>

    {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-secondary mb-4" href="?page=1">Pierwszy</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Poprzedni</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Następny</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ostatni</a>
        {% endif %}

    {% endif %}

{% endblock %}